Repository GetStream/stream-core-android, pull requests merged in 2025-09, with the labels that each got.

#12 Add PR quality check, PR template and release.yaml
  .github/pull_request_template.md
  .github/release.yaml
  .github/workflows/pr-quality.yml
Labels: pr:ci

#18 Align internal sort package to the public one.
  stream-android-core/src/main/java/io/getstream/android/core/api/sort/SortDirection.kt
  stream-android-core/src/main/java/io/getstream/android/core/api/sort/SortField.kt
  stream-android-core/src/main/java/io/getstream/android/core/internal/sort/SortFieldImpl.kt
Labels: pr:internal

#19 Add more tests for untested APIs
  stream-android-core/src/test/java/io/getstream/android/core/api/ApiFactoryTest.kt
  stream-android-core/src/test/java/io/getstream/android/core/api/StreamClientFactoryTest.kt
  stream-android-core/src/test/java/io/getstream/android/core/api/http/StreamOkHttpInterceptorsTest.kt
  stream-android-core/src/test/java/io/getstream/android/core/api/log/StreamLoggerProviderTest.kt
  stream-android-core/src/test/java/io/getstream/android/core/api/socket/listeners/StreamListenersDefaultImplsTest.kt
  stream-android-core/src/test/java/io/getstream/android/core/api/sort/SortTest.kt
  stream-android-core/src/test/java/io/getstream/android/core/testutil/ReflectionAssertions.kt
Labels: pr:test

#20 Update CI lint execution and linter package name
  .github/workflows/android.yml
  stream-android-core-lint/src/main/java/io/getstream/android/core/lint/detectors/StreamApiExplicitMarkerDetector.kt
  stream-android-core/src/main/java/io/getstream/android/core/api/filter/FilterField.kt
  stream-android-core/src/main/java/io/getstream/android/core/api/filter/Filters.kt
  stream-android-core/src/main/java/io/getstream/android/core/api/sort/Sort.kt
  stream-android-core/src/main/java/io/getstream/android/core/api/sort/SortComparator.kt
  stream-android-core/src/main/java/io/getstream/android/core/api/utils/Response.kt
Labels: pr:ci
